// COLORS
$color-primary: #272727;
$color-background: #FFFFFF;
$color-link: #1A0DAB;

// FONT
$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
$font-family: Menlo, Monaco, 'Ubuntu Mono', 'DejaVu Sans Mono', 'Lucida Console', monospace;

$code-font-family: 'PT Mono', 'Courier New', monospace;

// BREAKPOINTS
$br: 600px;
